:root{
    --cremita: #f8eacf;
    --cremin: rgb(233, 229, 222);
    --marron: #452C27;
    --marron-claro: #664D4D;
    --fuente-titulos:"Barriecito", system-ui;
    --fuente-secundaria: "Nunito Sans", sans-serif;
    --shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
    --iluminador: 0 1px 10px rgba(248, 234, 207, 0.15);
}

body{
    font-family:  var(--fuente-secundaria);
    background-color: white;
    color: var(--marron);
}

/*========================
TEMA
======================*/
#cambiarTema {
    background: none;
    border: none;
    cursor: pointer;
}

#cambiarTema img {
    width: 30px;
}
.tema2{
    background-color: var(--marron-claro);
    color: var(--cremita);
} 

.tema2 h2{
    color: var(--cremita);
}

.tema2 header,.tema2 .card-producto, .tema2 .card-producto button,.tema2 .bloque-item,.tema2 .btn-vaciar,.tema2 #btn-subir{
    box-shadow: var(--iluminador);
}

/*==================
    HEADER
====================*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marron);
    color: var(--cremita);
    box-shadow: var(--shadow);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
        text-align: center;
    }
}

.registro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo-titulo {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header img {
    width: 50px;
    height: auto;
}



#barraBusqueda { 
    width: 200px;   
    height: 30px;   
    font-size: 15px; 
    border: 1px solid var(--cremita);
    border-radius: 8px;
    box-sizing: border-box;
    }

@media (max-width: 768px) {
    #barraBusqueda {
        width: 250px;
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #barraBusqueda {
        width: 100%;
        font-size: 14px;
        height: 35px;
    }
}


    
    .menu-horizontal{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-horizontal > li {
    border-radius: 8px;
    position: relative;
}

li img {
    width: 35%;
}

.menu-horizontal > li > a {
    padding: 8px;
    margin: 0;
    display: flex;
    color:  var(--cremita);
    text-decoration: none;
}

.menu-horizontal >li:hover{
    background-color: var(--marron);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(82, 17, 17, 0.5);
    top: 100%;
    left: 50%; 
    padding: 0;
    transform: translateX(-50%); 
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: rgb(165, 157, 157);
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}



/*=================
MAIN
===================*/

h2 {
    font-family:  "Barriecito", system-ui;
    color: var(--marron);
    font-weight: 400;
    font-style: normal;
}

#listadoProductos {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

}

.card-producto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    width: 200px;        
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
}


.card-producto:hover  {
    visibility: visible;
    opacity: 1;
}

.card-producto h3 {
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: auto;
}

.card-producto p {
    margin: 0;
}

.card-producto .p-precio {
    margin-top: 1rem;
}
.card-producto button {
    font-family: var(--fuente-secundaria);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: none;
    background-color: var(--marron);
    color: var(--cremita);
    cursor: pointer;
    margin-top: 1rem;

}
.card-producto .btn-eliminar-carrito {
    background-color: #640019;
}

.card-producto button:hover {
    color:#BA8173;
}

/*=================
CARRITO
===================*/

#carrito {
    display: flex;
    flex-direction: column;
    align-items:center; 
}

.contenedor-carrito {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#elementosCarrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bloque-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    list-style: none;
    box-shadow: var(--shadow);
}

.bloque-item img {
    width: 100px;
    height: auto;

}

.acciones-carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boton-eliminar, .boton-sumar, .boton-restar{
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.boton-eliminar img , .boton-sumar img, .boton-restar img{
    width: 30%;
}

.btn-vaciar,  .btn-volver{
    font-family: var(--fuente-secundaria);
    background-color: var(--cremita);
    padding: 0.5rem;
    color: var(--marron);
    box-shadow: var(--shadow);
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.btn-imprimir,.btn-cancelar, .btn-confirmar {
    font-family: var(--fuente-secundaria);
    background-color: var(--marron);
    padding: 0.5rem;
    color: var(--cremita);
    box-shadow: var(--shadow);
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.btn-vaciar:hover, .btn-imprimir:hover,.btn-cancelar:hover, .btn-confirmar:hover {
    border: 1px solid var(--marron);
}
.boton-eliminar:hover , .boton-sumar:hover, .boton-restar:hover, .btn-volver:hover {
    transform: scale(1.05)
}

/*===================
INICIO CLIENTE
===================*/

#formularioCliente {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

form button {
    font-family: var(--fuente-secundaria);
    padding: 0.5rem;
    color: var(--cremita);
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
    border: none;
    background-color: var(--marron);
    cursor: pointer;
}

form button:hover {
    border: 1px solid var(--marron);
}

form input, #formularioCliente #texto{
    width: 200px;   
    height: 30px;   
    border: 1px solid var(--cremita);
    border-radius: 8px;
    padding: 0.2rem;
    font-size: 15px;
}

input:focus {
    outline: none;
    border: 1px solid var(--marron);
    box-shadow: 0 0 5px var(--marron);
}


@media (max-width: 768px) {
    form input, #formularioCliente #texto {
        width: 250px;
        font-size: 16px;
        height: 35px;
    }
    form button {
        font-size: 16px;
    }
}

/* Celular */
@media (max-width: 480px) {
    #formularioCliente {
        width: 90%;
        padding: 1rem;
    }

    form input, #formularioCliente #texto {
        width: 100%;
        font-size: 14px;
        height: 35px;
    }

    form button {
        width: 100%;
        font-size: 14px;
    }

    h2, p {
        text-align: center;
    }
}
/*==============
FOOTER
======================*/

footer {
    margin-top: 1rem;
    background-color: var(--cremita);
    color: var(--marron);
    border-radius: 5px;
    
}


.contenedor-footer {
    display: flex;
    justify-content: space-between;

}
#datosAlumno {
    text-align:right;
    margin-right: 1rem;
}

    /*===============
SINOPSIS
==================*/


.contenedor-sinopsis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.contenedor-sinopsis img {
    width: 150px;
    height: auto;
}

.sinopsis-detalle {
    display: flex;
    flex-direction: column;

}

.sinopsis-button {
    text-align: center;
}


@media (max-width: 768px) {
    .contenedor-sinopsis {
        flex-direction: column;
        align-items: center;
    }

    .contenedor-sinopsis img {
        width: 100px;
    }
}

/*===============
MODAL
==================*/
.modalContainer h2 {
    color: var(--marron);
}

.modalContainer .modal-content {
    background-color: var(--cremita);
    color: var(--marron);
    margin: auto;
    padding: 20px;
    box-shadow: var(--iluminador);
    width: 100%;
    max-width: 450px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}


.modalContainer {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;     
    padding-top: 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;      
    height: 100%; 
    background: rgba(36, 21, 5, 0.5);
    padding: 20px; 
    
}

.botones-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


@media (max-width: 400px) {
    .modalContainer .modal-content {
        padding: 15px;
        max-width: 90%;
    }

    .botones-modal {
        gap: 10px;
    }
}

