:root{
    --cremita: rgb(248, 234, 207);
    --marron: #452C27;
    --fuente-titulos:"Barriecito", system-ui;
    --fuente-secundaria: "Nunito Sans", sans-serif;
    --shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
}

body{
    background-color: white;
    font-family:  var(--fuente-secundaria);
}
/*==================
    HEADER
====================*/
header {
    background-color: var(--marron);
    color: var(--cremita);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

.registro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo-titulo {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header img {
    width: 50px;
    height: auto;
}

#barraBusqueda {
    width: 200px;   
    height: 30px;   
    font-size: 15px; 
    border: 1px solid var(--cremita);
    border-radius: 8px;
    }


#datosAlumno {
    text-align: center;
    margin-top: 0.5rem;
}


.menu-horizontal{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-horizontal > li {
    border-radius: 8px;
    position: relative; /* cada li será el punto de referencia para su submenu */
}

li img {
    width: 35%;
}

.menu-horizontal > li > a {
    padding: 8px;
    margin: 0;
    display: flex;
    color:  var(--cremita);
    text-decoration: none;
}

.menu-horizontal >li:hover{
    background-color: var(--marron);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(82, 17, 17, 0.5);
    top: 100%;
    left: 50%; 
    padding: 0;
    transform: translateX(-50%); /* centra horizontalmente */
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: rgb(165, 157, 157);
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}



/*=================
MAIN
===================*/

h2 {
    font-family:  "Barriecito", system-ui;
    color: var(--marron);
    font-weight: 400;
    font-style: normal;
}

#listadoProductos {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

}

.card-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    width: 200px;        
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.card-producto h3 {
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: auto;
}

.card-producto p {
    margin: 0;
}

.card-producto .p-precio {
    margin-top: 1rem;
}
.card-producto button {
    font-family: var(--fuente-secundaria);
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1rem;

}

.card-producto button:hover {
    color:#BA8173;
}

/*=================
CARRITO
===================*/

#carrito {
    display: flex;
    flex-direction: column;
    align-items:center; 
}

.contenedor-carrito {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#elementosCarrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bloque-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    box-shadow: var(--shadow);
}

.bloque-item img {
    width: 100px;
    height: auto;

}

.acciones-carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boton-eliminar, .boton-sumar, .boton-restar{
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.boton-eliminar img , .boton-sumar img, .boton-restar img{
    width: 30%;
}

.btn-vaciar {
    font-family: var(--fuente-secundaria);
    background-color: transparent;
    padding: 0.5rem;
    color: var(--marron);
    box-shadow: var(--shadow);
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.btn-pagar {
    font-family: var(--fuente-secundaria);
    background-color: var(--marron);
    padding: 0.5rem;
    color: var(--cremita);
    box-shadow: var(--shadow);
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.btn-vaciar:hover, .btn-pagar:hover {
    border: 1px solid var(--marron);
}
.boton-eliminar:hover {
    transform: scale(1.05)
}

/*===================
INICIO CLIENTE
===================*/

#formularioCliente {

    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
    font-family: var(--fuente-secundaria);
    padding: 0.5rem;
    color: var(--cremita);
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
    border: none;
    background-color: var(--marron);
    cursor: pointer;
}

form button:hover {
    border: 1px solid var(--marron);
}

form input {
    width: 200px;   
    height: 30px;   
    border: 1px solid var(--cremita);
    border-radius: 8px;
    padding: 0.2rem;
    font-size: 15px;
}

input:focus {
    outline: none;
    border: 1px solid var(--marron);
    box-shadow: 0 0 5px var(--marron);
}