:root{
    --cremita: rgb(248, 234, 207);
    --marron: #452C27;
    --fuente-titulos:"Barriecito", system-ui;
    --fuente-secundaria: "Nunito Sans", sans-serif;
    --shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
}

body{
    background-color: white;
    font-family:  var(--fuente-secundaria);
}
/*==================
    HEADER
====================*/
header {
    background-color: var(--marron);
    color: var(--cremita);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

.registro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo-titulo {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header img {
    width: 50px;
    height: auto;
}