:root{
    --cremita: rgb(248, 234, 207);
    --marron: #452C27;
    --fuente-titulos:"Barriecito", system-ui;
    --fuente-secundaria: "Nunito Sans", sans-serif;
    --shadow: 0 6px 10px rgba(70, 39, 5, 0.15);
}

body{
    background-color: white;
    font-family:  var(--fuente-secundaria);
}
/*==================
    HEADER
====================*/
header {
    background-color: var(--marron);
    color: var(--cremita);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

.registro {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo-titulo {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-family: var(--fuente-titulos);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header img {
    width: 50px;
    height: auto;
}


nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
}

/*===============
    main
================*/

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-producto {
    width: 250px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin: 2px;
    text-align: center;
    padding: 1 rem;
    border-radius: 5px;
    box-shadow:  0 6px 10px rgba(70, 39, 5, 0.15);
}


.card-producto h3 {
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: auto;
}

.card-producto p {
    margin: 0;
}
#lista-productos{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.li-producto {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}


